body {
   background-image: url("images/Artboard1a.png");
   min-height: 2000px;
   padding-top: 70px;
}
 h3 {
	font-family: Lucida console;
 }
 .
.custom1 {
	background-color: transparent !important;
}
.custom2 {
   background-color: rgba(49,71,98,.5);
   width: 100%;
}
.custom3 {
	background-color: rgba(1,8,10,0.30);
	color: rgba(24,113,131,1.00);
	border: solid .3em silver;
	
	padding: 10px;
	width: 90%;
	margin: 3% 0% 3% 5%;
}
.custom4 {
	/* color: rgba(5,41,65,1.00); */
	color: #b58900;
	font-size: 1.3em !important;
	font-family: Lucida console;
}
.custom5 {
	/* color: rgba(150,6,100,1.00); */
	color: #b54400;
	font-size: 1em !important;
	font-family: Lucida console;
}
.custom6 {
	font-size: 1em;
	font-family: Lucida console;
	color: silver;
	/*border: solid .1em silver;*/
	background-color: rgba(49,71,98,.3) !important;
}
.custom6:hover {
	background-color: transparent !important;
	/* color: rgba(150,6,100,1.00); */
    color: #b58900;
}
.custom6: {
	
	
}
.custom7 {
	margin-top: 1.5em;
	font-family: Lucida console;
	color: #b54400;
 }
 
 .custom8 {
	border: solid 3px #b54400;
 }
 
 
 
 
 
//* .pull-right { */ 
	/* float: right !important; */
/* } */





