/*
=====================================================================
Project       Group Project CIS-131-101
Contributer   Kalin Bowden
Contributer   TJ
Contributer   Justin
Details       ...
--------------------------------------------------------------------
Color Codes
--------------------------------------------------------------------

=====================================================================
*/

/* CSS Main Body and Flow */
body
{
  background-color: green;
  color: #F5F5F5;
  background-image: url(images/back0.png);
  font-family: Lucida console;
}

.container-fluid
{
  padding: 0;
}

p
{
  border-bottom-style: solid;
  border-width: 0;
}

/* Share CSS */

.head-text
{
  font-family: 'Lobster', cursive;
  font-size: 2.5em;
}

/* CSS Nav Elements */

header
{
  background-color: #333;
  background: linear-gradient( 90deg, #303030	, #484848);
  font-family: 'Lobster', cursive;
  font-size: 1.7em;
}

h1
{
  margin-bottom: 0;
  font-size: 2em;
}



#link1 , #link2, #link3, #link4
{
  margin: 0;
  padding-top: 38%;
}

.titleAccent
{
  color: red;
}

a:link
{
  color: #F5F5F5;
}

a:visited
{
  color: #F5F5F5;
  text-decoration: none;
}

a:hover
{
  color: #F5F5F5;
  /*color: #1a75ff;*/
  text-decoration: none;
}

/* index page dependencies */

.landing
{
  height: 45em;
  background-image: url(images/2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.landLog
{
  background: linear-gradient( 90deg, #303030	, #484848);
  padding: 1.3em;
  border-radius: 15px;
  margin-top: 35%;
}

.col-md-2
{
  padding: 0;
}

.landingBox0
{
  height: 35em;
  background: transparent;
}

.landingBox1
{
  height: 35em;
  background: linear-gradient( 90deg, #303030	, #484848);
}

/*Added from menu.css*/
.centered {
  text-align: center;
}

/*=================================================================*/
.custom1 {
	background-color: transparent !important;
}
.custom2 {
   background-color: rgba(49,71,98,.5);
   width: 100%;
}
.custom3 {
	background-color: rgba(1,8,10,0.30);
	color: rgba(24,113,131,1.00);
	border: solid .3em silver;
	
	padding: 10px;
	width: 90%;
	margin: 3% 0% 3% 5%;
}
.custom4 {
	/* color: rgba(5,41,65,1.00); */
	color: #b58900;
	font-size: 1.3em !important;
}
.custom5 {
	/* color: rgba(150,6,100,1.00); */
	color: #b54400;
	font-size: 1em !important;
}
.custom6 {
	font-size: 1em;
	color: silver;
	/*border: solid .1em silver;*/
	background-color: rgba(49,71,98,.3) !important;
}
.custom6:hover {
	background-color: transparent !important;
	/* color: rgba(150,6,100,1.00); */
    color: #b58900;
}

.custom7 {
	margin-top: 1.5em;
  color: #b54400;
  font-size: 4em;
 }
 
 .custom8 {
	border: solid 3px #b54400;
 }
