/*

*/
body
{
  background-color: green;
  color: #F5F5F5;
}

.container-fluid
{
  padding: 0;
}

h1
{
  margin-bottom: 0;
  font-size: 2em;
}

#link1 , #link2, #link3, #link4
{
  margin: 0;
  padding-top: 30%;
}

p
{
  border-bottom-style: solid;
  border-width: 0;
}

header
{
  background-color: #333;
  background: linear-gradient( 90deg, #303030	, #484848);
  font-family: 'Lobster', cursive;
  font-size: 1.7em;
}

.titleAccent
{
  color: red;
}

.landing
{
  height: 75em;
  background-image: url(images/1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.col-md-2
{
  padding: 0;
}

a:link
{
  color: #F5F5F5;
}

a:visited
{
  color: #F5F5F5;
  text-decoration: none;
}

a:hover
{
  color: #F5F5F5;
  /*color: #1a75ff;*/
  text-decoration: none;
}

#link1Drop
{
  height: 2.8em;
  background-color: green;
}

.landingBox
{
  height: 35em;
  background: linear-gradient( 90deg, #303030	, #484848);
}
/*Added from menu.css*/
.centered {
  text-align: center;
}
